.leftside, .rightside {
    height: 50vh;
    width: 100%;
}

.leftside {
   overflow: hidden;
}
.leftside img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.rightside {
    overflow: hidden;
}
.rightside img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
   }

@media screen and (min-width: 768px){
    .leftside, .rightside {
        height: 100vh;
        width: 100%;
    }
}

nav {
    height: 80px;
    background: #0e79b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
  }
  
  .logo {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0 1.5rem;
  }
  
  nav a:hover {
    color: #fff;
  }